:root {
    --color-title: #003509;
    --color-author: #7CA832;
    --color-footer: #142000;
}

body {
    margin: 0;
}

header h1 {
    background-color: var(--color-title);
    color: white;
    text-transform: capitalize;
    text-align: end;
    height: 50px;
    padding:  .5rem .5rem 0 0;
    margin: 0;
}

header div {
    background-color: var(--color-author);
    text-align: end;
    color: white;
    padding: .5rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30.5% 0;
}

main h3,main h2{
    margin-bottom: 0;
} 

footer {
    background-color: var(--color-footer);
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer p{
    margin: .8rem;
}