@use 'variables';

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin container {
    padding: 1.5rem 0;
    margin: 0 auto;
    max-width: variables.$container-width;
}

@mixin bg-image-card($image) {
    background-image: url($image);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: .6s;

    &:hover {
        background-size: 110%;
        filter: grayscale(0%);
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url($image);
    }
}

@mixin mobile {
    @media (max-width: 425px) {
        @content
    }
}