:root{
    --color_leonardo: #64b4e4;
    --color_raphael: #ec3444;
    --color_michelangelo: #fcc45c;
    --color_donatello: #bc64ac;
    --color_background: #84b444;
}

body {
    margin: 0;
}

@media (max-width: 750px) {

    .description {
        background-color: var(--color_background);
    }

    .name {
        background-color: black;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mask {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .leonardo .mask{
        background-color: var(--color_leonardo);
        order: 1;
    }

    .leonardo .description{
        order: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .leonardo .name{
        color: var(--color_leonardo);
        order: -1;
    }

    .raphael .mask{
        background-color: var(--color_raphael);
    }    

    .raphael .description{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .raphael .name{
        color: var(--color_raphael);
    }

    .michelangelo .mask{
        background-color: var(--color_michelangelo);
    }

    .michelangelo .name{
        color: var(--color_michelangelo);
    }

    .michelangelo .description{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .donatello{
        display: flex;
        flex-flow: column wrap;
    }

    .donatello .name{
        order: -1;
        color: var(--color_donatello);
    }

    .donatello .mask{
        background-color: var(--color_donatello);
        order: 1;
        
    }

    .donatello .description{
        order: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media (min-width: 750px) {

    .description {
        background-color:var(--color_background);
        height: 130px;
    }

    .name {
        background-color: black;
        padding: 15px;
        text-transform: uppercase;
        text-align: center;
    }

    .leonardo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .leonardo .name {
        flex-basis: 100%;
        order: -1;
        color: var(--color_leonardo);
    }

    .leonardo .mask {
        background-color: var(--color_leonardo);
        flex-basis: 50%;
        order: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
    }

    .leonardo .description {
        flex-basis: 50%;
        order: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .raphael {
        display: flex;
        flex-direction: column;
    }

    .raphael .name {
        order: -1;
        color: var(--color_raphael);

    }

    .raphael .mask {
        background-color: var(--color_raphael);
        order: 0;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .raphael .description {
        order: 1;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .raphael .description ul {
        display: inline-flex;
        flex-basis: 100%;
        justify-content: space-between;
        margin-right: 15px;
    }

    .michelangelo {
        display: flex;
        flex-flow: row wrap;
    }

    .michelangelo .name {
        order: -1;
        flex-basis: 100%;
        color: var(--color_michelangelo);
    }

    .michelangelo .description {
        order: 0;
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .michelangelo .description ul {
        margin-right: 2em;
    }

    .michelangelo .mask {
        background-color: var(--color_michelangelo);
        order: 1;
        flex-basis: 50%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .donatello {
        display: flex;
        flex-direction: column;
    }

    .donatello .name {
        color: var(--color_donatello);
    }

    .donatello .mask {
        background-color: var(--color_donatello);
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .donatello .description {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95px;
    }

    .donatello .description ul {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        flex-basis: 100%;

    }
}
